iframe {
    border-radius: 10px;
}

h2 {
    margin-top: 3rem;
}

h3 {
    margin-top: 3rem;
}

article {
    background-color: #ede775;
    padding: 2rem 2rem;
}

table {
    border-collapse: collapse;
    border: 1px solid;
}

th {
    border: 1px solid;
    padding: 5px 5px;
}
td {
    border: 1px solid;
    padding: 5px 5px;
}